body{
    background-color: #F2F2F2;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}

.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9038D5;
    height: 50px;
}

.title_text{
    display: flex;
    flex-direction: row;
    color: white;
}

.flex_display{
    display: flex;
}

.create_container{
  border: 1px solid #CCC;
  border-radius: 10px;
  padding: 20px;
}

.container_slider{
    background-color: white;
    border: 1px solid #CCC;
}

.fix_label{
    font-size: 15px;
    margin: 0px;
    padding: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: calc(100%-40px);
}

.slider_component{
    margin-bottom: 15px;
    width: calc(100%-40px);
}

.table_style{
    width: 100%;
    border-collapse: collapse;
}

.table_style Thead{
    background-color: #006FE6;
    color: white;
    text-align: left;
    padding-top: 11px;
    padding-bottom: 11px;
}
.table_style Thead, .table_style Th, .table_style Td{
    border: 1px solid #ddd;
    padding: 7px;
}
.header_hover:hover{
    background-color: #9038D5;
    color: white;
}

.hover_only_row:hover{
    background-color: #DDD;
}

.hover_only_row:nth-child(even){
    background-color: white;
}

.bar_graph_border{
    border: 1px solid #CCC;
    margin-top: 20px;
}

.pie_graph_border{
    border: 1px solid #CCC;
    margin-top: 20px;
}

.text_container{
    margin-top: 20px;
}

.text_container1{
    margin-top: 10px;
}

.text_container2{
    margin-top: 10px;
    margin-bottom: 20px;
}
.container_text_border{
    border: 1px solid #CCC;
    margin-top: 20px;
}

.box_style{
    width: 90%;
    border-collapse: collapse;
    margin-left: 35px;
}

.style1{
    width: 30%;
    background-color: #EEE;
    font-weight: bold;
}

.style2{
    width: 70%;
    background-color: white;
}

.box_style Td{
    border: 1px solid #CCC;
    padding: 4px;
}